html, body {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.btn-all {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #192a56;
}
.btn-all:hover
{
  background-color: white !important;
  color: #C0392B;
  border: 2px solid #C0392B; /* Green */
}
.img-header{
	width: 100%;
}
.img-footer{
	width: 100%;
	/*opacity: 0.2;*/
}
.text-footer{
	width: 100%;
	padding: 5px;
	color:  white;
	background-color: #C0392B;
}
.img-sub {

	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	width: 90%;
}
.content-footer{
	width: 100%;
	
  /*background: url('template/Untitled-2.png');*/
  background-repeat: no-repeat;
  background-size:  cover;
	min-height: 280px;
}
.title-sub{
	color: #fff;
	background-color: #192a56;
	padding: 5px;
	text-align: center;
	width: 97%;
	margin-bottom: 15px;
	border-radius: 8px;
}
.card {
	position: absolute;
	top: 30%;
	left: 23%;
	/*background: black;*/
}
.card1 {
	position: absolute;
	top: 27%;
	left: 25%;
	/*background: black;*/
}

.card3 {
	position: absolute;
	top: 35%;
	left: 8%;
	width: 85%;
	/*background: black;*/
}
.pnl-save{
	border-width: 5px;
	border-color: #192a56;
	border-style: solid;
}
.card2 {
	position: absolute;
	top: 27%;
	left: 53%;
	/*background: black;*/
}
.img-card{
	
	/*transform: translate(-50%, -50%);*/
	width: 324px;
	height: 408px;
}

.title-text{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 30px;
}
.title-text-body{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 38px;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    font-family: sans; color: green;
}
.title-text-p{
	position: absolute;
	top: 31%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 15px;
}
.btn-pick {
	position: absolute;
	top: 93%;
	border-radius: 8px;
	left: 35%;
}
.btn-pick-2 {
	position: absolute;
	top: 87%;
	left: 62%;
	border-radius: 8px;
}
